<script type="text/javascript">
$(document).ready(function() {
	
	// Workshop radio buttons
	$('#near-dropdown').change(function() {
		
		var dropdownSelection = $("#near-dropdown option:selected").text();

		
		
		if (dropdownSelection=="Search near an address")
		{
			$('#location-fields').html("<%= j render 'pages/near_address_fields' %>");
		}
		else
		{
			$('#location-fields').html("<%= j render 'pages/near_stop_fields' %>");
		}
	});
	

});
</script>

<%= form_tag( search_path, :method=>'post', :remote => true, :id => "search-form" ) do %>

	<%= text_field_tag( 'keywords', nil, { :size => 50, :class => "search-query", :style => "width:190px;margin:5px 0px 15px 0px;", :placeholder => "Search keywords" }) %>
	
	<%= select_tag( 'listing_type', options_for_select(LISTING_TYPES), :class => "search-dropdown" ) %>
	
	<%= select_tag( 'near', options_for_select(NEAR_OPTIONS), :id => "near-dropdown", :class => "search-dropdown", :disabled => "disabled" ) %>
	
	<div id="location-fields">
		<%= render :partial => "pages/near_address_fields" %>
	</div>			

	<%= submit_tag( 'Search', {:disable_with => "Searching...", :class => "btn btn-small btn-primary pull-right"})  %>
<% end %>
