<div id="main" role="main">
	<div id="main-content-wrapper">
		<div id="main-content">
			
			<%= simple_form_for @experience do |f| %>
			
				<div style="float:left;width:500px;height:336px;margin:20px 0px 0px 160px;">
					<h5 class="form-signin-heading">Please enter employer information below.</h5>

					<%= f.input :employer, :label => false, :placeholder => "Employer", :input_html => { :size => 20, :maxlength => 20 }, :class => "input-block-level" %>
					<%= f.input :city, :label => false, :placeholder => "City", :input_html => { :size => 20, :maxlength => 20 }, :class => "input-block-level" %>
					<%= f.input :state, :collection => STATES, :label => false, :placeholder => "NY", :input_html => { :style => "width:66px;" }, :class => "input-block-level" %>
					<%= f.input :start_date, :as => :date, :label => false, :placeholder => "Start date", :class => "input-block-level" %>
					<%= f.input :end_date, :as => :date, :label => false, :placeholder => "End date", :class => "input-block-level" %>
					<%= f.input :position, :label => false, :placeholder => "Position/Title", :input_html => { :size => 10, :maxlength => 10, :style => "width:120px;" }, :class => "input-block-level" %>
				</div>
				
				<div style="float:left;width:760px;padding:20px 20px 10px 20px;">
					<%= link_to "Go back to dashboard", dashboard_path, :class => "btn btn-large btn-primary pull-left", :title => "Go back to dashboard" %>

					<%= f.button :submit, "Save and Continue", :class => "btn btn-large btn-primary pull-right" %>
				</div>
				
				
			<% end %>
			
			<%= render :partial => 'layouts/resume_builder_nav.html.erb' %>
		</div>
	</div>
</div>
