<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>		
		<%= csrf_meta_tags %>
		<%= render "layouts/stylesheets" %>
		<%= render "layouts/javascripts" %>
		<!-- <link rel="icon" href="/favicon.png" type="image/png" /> -->
		<!-- <link rel="shortcut icon" href="/favicon.png" type="image/png" /> -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>	
	<body>
		
		<%= render "layouts/header" %>				

		<%= render "layouts/main_content" %>
		
		<%= render "layouts/footer" %>
		
	</body>
</html>
